/* 
Tips:
- Las llaves delimitan el n# de propiedades
- Declaración de propiedades y valores (p: valor;)
¿Qué le vamos a hacer al body?
- Establecer un ancho (ok)
- Centrar el contenedor (ok)
- Eliminar márgenes sobrantes (ok)
*/
body {
	width: 960px;
	margin: auto;
}

h1 {
	margin-top: 0;
}

/*Qué le vamos a hacer a la tabla?
- Establecer un ancho 100% y las celdas se separen
- Celdas se centre el contenido 
- Dibujar bordes en la tabla (table, tr, td, th)
*/
table {
	width: 100%;
}

table, th, td, tr {
	border: 1px solid #333;
}

td {
	text-align: center;
}

#col1 {
	background-color: red;

}

#col2 {
	background-color: blue;
	/*margin-left: -5px;*/
}

#col1, #col2 {
	height: 500px;
	/*display: inline-block;*/
	float: left;
	width: 480px;
}

#elementNew {
	clear: both;
}